#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
   
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    font-size: 20px;
}

input{
    margin: 20px;
    border-radius: 20px;
    height: 40px;
    outline: none;
    text-align: center;
    font-weight: bold;
    
}

#submit{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    width: 100px;
    height: 30px;
}